<extend name="Public/base"/>
<block name="title">权限管理</block>
<block name="location">权限添加</block>
<block name="content">
  <form class="form-horizontal" role="form" action="" method="post">
    <!--权限名称-->
    <div class="form-group">
      <label for="rule_name" class="col-xs-12 col-sm-3 control-label no-padding-right">权限名称</label>
      <div class="col-xs-12 col-sm-5">
        <span class="block input-icon input-icon-right">
          <input type="text" id="rule_name" class="width-100" name="rule_name">
          <i class="ace-icon fa fa-leaf"></i>
        </span>
      </div>
      <div class="help-block col-xs-12 col-sm-reset inline">
        <span class="text-danger">*</span>
        必填字段
      </div>
    </div>
    <!--模块名称-->
    <div class="form-group">
      <label for="module_name" class="col-xs-12 col-sm-3 control-label no-padding-right">模块名称</label>
      <div class="col-xs-12 col-sm-5">
        <span class="block input-icon input-icon-right">
          <input type="text" id="module_name" class="width-100" name="module_name">
          <i class="ace-icon fa fa-leaf"></i>
        </span>
      </div>
      <div class="help-block col-xs-12 col-sm-reset inline">
        <span class="text-danger">*</span>
        必填字段
      </div>
    </div>
    <!--控制器名称-->
    <div class="form-group">
      <label for="controller_name" class="col-xs-12 col-sm-3 control-label no-padding-right">控制器名称</label>
      <div class="col-xs-12 col-sm-5">
        <span class="block input-icon input-icon-right">
          <input type="text" id="controller_name" class="width-100" name="controller_name">
          <i class="ace-icon fa fa-leaf"></i>
        </span>
      </div>
      <div class="help-block col-xs-12 col-sm-reset inline">
        <span class="text-danger">*</span>
        必填字段
      </div>
    </div>
    <!--方法名称-->
    <div class="form-group">
      <label for="action_name" class="col-xs-12 col-sm-3 control-label no-padding-right">方法名称</label>
      <div class="col-xs-12 col-sm-5">
        <span class="block input-icon input-icon-right">
          <input type="text" id="action_name" class="width-100" name="action_name">
          <i class="ace-icon fa fa-leaf"></i>
        </span>
      </div>
      <div class="help-block col-xs-12 col-sm-reset inline">
        <span class="text-danger">*</span>
        必填字段
      </div>
    </div>
    <!--父权限-->
    <div class="form-group">
      <label for="parent_id" class="col-xs-12 col-sm-3 control-label no-padding-right">父权限</label>
      <div class="col-xs-12 col-sm-5">
        <span class="block input-icon input-icon-right">
          <select class="chosen-select form-control" id="parent_id" name="parent_id" style="cursor: pointer">
            <option value="" selected>|--请选择父权限</option>
            <volist name="rule" id="item">
              <option value="{$item.id}">
                |{$item.level|str_repeat="----",###}
                {$item.rule_name}
              </option>
            </volist>
          </select>
        </span>
      </div>
    </div>
    <!--是否显示-->
    <div class="form-group">
      <span class="col-xs-12 col-sm-3 control-label no-padding-right">是否显示</span>
      <div class="col-xs-12 col-sm-5">
        <label>
          <input name="is_show" type="radio" class="ace" value="1">
          <span class="lbl">是</span>
        </label>
        <label>
          <input name="is_show" type="radio" class="ace" value="0" checked>
          <span class="lbl">否</span>
        </label>
      </div>
    </div>
    <!--提交-->
    <div class="form-group text-center">
      <button class="btn btn-info" type="submit">提交</button>
      <a class="btn btn-warning" href="{:U('index')}">返回</a>
    </div>
  </form>
</block>
<block name="js">
  <script>
    $("#button").on('click', function () {
      $.ajax({
        url: "{:U('add')}",
        type: "POST",
        dataType: "JSON",
        data: {
          cname: $("#cname").val(),
          parent_id: $("#parent_id").val(),
          isrec: $("input[name='isrec']:checked").val(),
        },
        success: function (data) {
          console.log(data);
        }
      })
    })
  </script>
</block>
