<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><block name="title"></block></title>
  <link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/css/base.css"/>
  <link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/css/style.css"/>
  <link rel="stylesheet" href="__PUBLIC_HOME__/css/slide.css"/>
  <block name="css"></block>
</head>
<body>
<!--头部-->
<div class="top_banner">
  <div class="module w1200">
    <a href="javascript:">
      <img src="__PUBLIC_HOME__/images/active.jpg"/>
      <i class="icon-close"><img src="__PUBLIC_HOME__/images/close.png"/></i>
    </a>
  </div>
</div>
<div class="site-nav" id="site-nav">
  <div class="w w1200">
    <div class="fl">
      <div class="city-choice" id="city-choice" data-ectype="dorpdown">
        <div class="dsc-choie dsc-cm" ectype="dsc-choie">
          <img src="__PUBLIC_HOME__/images/place.png" class="place" />
          <input type="text" value="北京" class="search" />
        </div>

      </div>
      <div class="txt-info" id="ECS_MEMBERZONE">
        <empty name="Think.session.client_id">
          <a href="{:U('client/login')}" class="link-login red">请登录</a>
          <a href="{:U('client/register')}" class="link-regist">免费注册</a>
          <else />
          <a href="javascript:void(0)" class="link-login red">您好{$Think.session.client.username}，欢迎您！</a>
          <a href="{:U('client/logout')}" class="link-regist" style="margin-right: 15px">退出</a>
        </empty>
      </div>
    </div>
    <ul class="quick-menu fr">
      <li>
        <div class="dt">
          <a href="#">我的订单</a>
        </div>
      </li>
      <li class="spacer"></li>
      <li>
        <div class="dt">
          <a href="{:U('Cart/index')}">我的购物车</a>
        </div>
      </li>
      <li class="spacer"></li>
      <li>
        <div class="dt">
          <a href="#">我的浏览</a>
        </div>
      </li>
      <li class="spacer"></li>
      <li>
        <div class="dt">
          <a href="#">我的收藏</a>
        </div>
      </li>
      <li class="spacer"></li>
      <li>
        <div class="dt">
          <a href="#">客户服务</a>
        </div>
      </li>
      <li class="spacer"></li>
      <li class="li_dorpdown" data-ectype="dorpdown">
        <div class="dt dsc-cm">网站导航</div>
        <div class="dd dorpdown-layer" style="z-index: 10000000;">
          <dl class="fore1">
            <dt>特色主题</dt>
            <dd>
              <div class="item">
                <a href="#" target="_blank">家用电器</a>
              </div>
              <div class="item">
                <a href="#" target="_blank">手机数码</a>
              </div>
              <div class="item">
                <a href="#" target="_blank">电脑办公</a>
              </div>
            </dd>
          </dl>
          <dl class="fore2">
            <dt>促销活动</dt>
            <dd>
              <div class="item">
                <a href="#">拍卖活动</a>
              </div>
              <div class="item">
                <a href="#">共创商品</a>
              </div>
              <div class="item">
                <a href="#">优惠活动</a>
              </div>
              <div class="item">
                <a href="#">批发市场</a>
              </div>
              <div class="item">
                <a href="#">超值礼包</a>
              </div>
              <div class="item">
                <a href="#">优惠券</a>
              </div>
            </dd>
          </dl>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="clear"></div>
<div class="header">
  <div class="header_container">
    <div class="logo fl">
      <img src="__PUBLIC_HOME__/images/logo.png"/>
      <a href="#"><img src="__PUBLIC_HOME__/images/ecsc-join.gif"/></a>
    </div>
    <div class="dsc-search">
      <div class="form">
        <form class="search-form">
          <input name="keywords" type="text" id="keyword" value="" class="search-text"
                 style="color: rgb(153, 153, 153);">
          <button type="submit" class="button button-goods">搜商品</button>
          <button type="submit" class="button button-store">搜店铺</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<!--主体内容-->
<block name="content"></block>
<block name="red_bag"></block>
<!--底部-->
<div class="footer_con">
  <div class="fnc_container">
    <div class="help-list">
      <div class="help-item">
        <h3>新手上路 </h3>
        <ul>
          <li>
            <a href="#" title="售后流程" target="_blank">售后流程</a>
          </li>
          <li>
            <a href="#" title="购物流程" target="_blank">购物流程</a>
          </li>
          <li>
            <a href="#" title="订购方式" target="_blank">订购方式</a>
          </li>
        </ul>

      </div>
      <div class="help-item">
        <h3>配送与支付 </h3>
        <ul>
          <li>
            <a href="#" title="货到付款区域" target="_blank">货到付款区域</a>
          </li>
          <li>
            <a href="#" title="配送支付智能查询 " target="_blank">配送支付智能查询</a>
          </li>
          <li>
            <a href="#" title="支付方式说明" target="_blank">支付方式说明</a>
          </li>
        </ul>

      </div>
      <div class="help-item">
        <h3>会员中心</h3>
        <ul>
          <li>
            <a href="#" title="资金管理" target="_blank">资金管理</a>
          </li>
          <li>
            <a href="#" title="我的收藏" target="_blank">我的收藏</a>
          </li>
          <li>
            <a href="#" title="我的订单" target="_blank">我的订单</a>
          </li>
        </ul>

      </div>
      <div class="help-item">
        <h3>服务保证 </h3>
        <ul>
          <li>
            <a href="#" title="退换货原则" target="_blank">退换货原则</a>
          </li>
          <li>
            <a href="#" title="售后服务保证" target="_blank">售后服务保证</a>
          </li>
          <li>
            <a href="#" title="产品质量保证 " target="_blank">产品质量保证</a>
          </li>
        </ul>

      </div>
      <div class="help-item">
        <h3>联系我们 </h3>
        <ul>
          <li>
            <a href="#" title="网站故障报告" target="_blank">网站故障报告</a>
          </li>
          <li>
            <a href="#" title="选机咨询 " target="_blank">选机咨询</a>
          </li>
          <li>
            <a href="#" title="投诉与建议 " target="_blank">投诉与建议</a>
          </li>
        </ul>
      </div>
      <div class="help-item">
        <h3>关注我们 </h3>
        <img src='__PUBLIC_HOME__/images/erweima.png'/>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" src="__PUBLIC_HOME__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC_HOME__/js/kuCity.js"></script>
<script type="text/javascript" src="__PUBLIC_HOME__/js/jquery.SuperSlider.js"></script>
<script>
  $('.li_dorpdown').hover(function() {
    $('.dorpdown-layer').show();
  });
  $('.li_dorpdown').mouseleave(function() {
    $('.dorpdown-layer').hide();
  });
  $('.icon-close').click(function() {
    $('.top_banner').hide();
  });
  $('.my_center_box_left a').hover(function() {

  });
  $('.cate-layer-right-slide img').mouseenter(function() {

    $(this).delay('300').animate(300);
  });
  $('.cate-layer-right-slide img').mouseleave(function() {
    $(this).css('border', 'none')
  });
</script>
<script>
  $('.search').kuCity();
</script>
<block name="js"></block>
</html>
