<!--商品分类列表热卖推荐-->
<div class="hot_tj_container">
  <div class="hot_tj">热门推荐</div>
  <div class="hot_tj_list">
    <ul>
      <li>
        <div class="item">
          <div class="p_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/commend.jpg" />
            </a>
          </div>
          <div class="p_name">
            <a href="#" title="Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量" target="_blank">
              Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量
            </a>
          </div>
          <div class="p_price">
            <em>￥</em>7800.00
          </div>
          <div class="p_btn">
            <a href="#" target="_blank">立即购买</a>
          </div>
        </div>
      </li>
      <li>
        <div class="item">
          <div class="p_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/commend1.jpg" />
            </a>
          </div>
          <div class="p_name">
            <a href="#" title="Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量" target="_blank">
              Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量
            </a>
          </div>
          <div class="p_price">
            <em>￥</em>7800.00
          </div>
          <div class="p_btn">
            <a href="#" target="_blank">立即购买</a>
          </div>
        </div>
      </li>
      <li>
        <div class="item">
          <div class="p_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/commend2.jpg" />
            </a>
          </div>
          <div class="p_name">
            <a href="#" title="Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量" target="_blank">
              Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量
            </a>
          </div>
          <div class="p_price">
            <em>￥</em>7800.00
          </div>
          <div class="p_btn">
            <a href="#" target="_blank">立即购买</a>
          </div>
        </div>
      </li>
      <li class="last">
        <div class="item">
          <div class="p_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/commend2.jpg" />
            </a>
          </div>
          <div class="p_name">
            <a href="#" title="Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量" target="_blank">
              Apple/苹果 13 英寸：MacBook Pro Multi-Touch Bar 和 Touch ID 2.9GHz 处理器 512GB 存储容量
            </a>
          </div>
          <div class="p_price">
            <em>￥</em>7800.00
          </div>
          <div class="p_btn">
            <a href="#" target="_blank">立即购买</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
