<div class="box demo2">
  <ul class="tab_menu" style="width: 100%">
    <li class="current">疯狂促销</li>
    <li>商品热卖</li>
    <li>推荐商品</li>
    <li>最新商品</li>
  </ul>
  <div class="tab_box">
    <div>
      <volist name="crazy" id="item">
        <a href="{:U('Goods/index','id='.$item['id'])}" style="display:block;width: 20%;float: left;text-align: center">
          <p><img src="/{$item.goods_thumb}" alt="" style="height: 100px;width: auto;"></p>
          <p style="white-space: nowrap;text-overflow:ellipsis; overflow:hidden;">{$item.goods_name}</p>
          <p style="white-space: nowrap;text-overflow:ellipsis; overflow:hidden;">{$item.shop_price}</p>
        </a>
      </volist>
    </div>
    <div class="hide">
      <volist name="hot" id="item">
        <a href="{:U('Goods/index','id='.$item['id'])}" style="display:block;width: 20%;float: left;text-align: center">
          <p><img src="/{$item.goods_thumb}" alt="" style="height: 100px;width: auto;"></p>
          <p style="white-space: nowrap;text-overflow:ellipsis; overflow:hidden;">{$item.goods_name}</p>
          <p style="white-space: nowrap;text-overflow:ellipsis; overflow:hidden;">{$item.shop_price}</p>
        </a>
      </volist>
    </div>
    <div class="hide">
      <volist name="rec" id="item">
        <a href="{:U('Goods/index','id='.$item['id'])}" style="display:block;width: 20%;float: left;text-align: center">
          <p><img src="/{$item.goods_thumb}" alt="" style="height: 100px;width: auto;"></p>
          <p style="white-space: nowrap;text-overflow:ellipsis; overflow:hidden;">{$item.goods_name}</p>
          <p style="white-space: nowrap;text-overflow:ellipsis; overflow:hidden;">{$item.shop_price}</p>
        </a>
      </volist>
    </div>
    <div class="hide">
      <volist name="new" id="item">
        <a href="{:U('Goods/index','id='.$item['id'])}" style="display:block;width: 20%;float: left;text-align: center">
          <p><img src="/{$item.goods_thumb}" alt="" style="height: 100px;width: auto;"></p>
          <p style="white-space: nowrap;text-overflow:ellipsis; overflow:hidden;">{$item.goods_name}</p>
          <p style="white-space: nowrap;text-overflow:ellipsis; overflow:hidden;">{$item.shop_price}</p>
        </a>
      </volist>
    </div>
  </div>

</div><!--demo2 end-->
