<!--更多推荐-->
<div class="w1200_container">
  <!--享品质 享生活-->
  <div class="enjoy_title">
    <h3>享品质 享生活</h3>
  </div>
  <div class="enjoy_content">
    <div class="enjoy_con">
      <a href="#">
        <div class="enjoy_bg">
          <div class="enjoy_info">
            <div class="enjoy1_title">
              <h4>新品首发</h4>
              <p>荣耀系列 今日特惠</p>
            </div>
          </div>
          <img src="__PUBLIC_HOME__/images/enjoy1.png" class="enter1_enjoy" />
        </div>
      </a>
    </div>
    <div class="enjoy_con">
      <a href="#">
        <div class="enjoy_bg">
          <div class="enjoy_info" style="background: #DBCF6E;">
            <div class="enjoy1_title">
              <h4>会逛</h4>
              <p>厨具超级品牌日</p>
            </div>
          </div>
          <img src="__PUBLIC_HOME__/images/enjoy2.jpg" class="enter1_enjoy" />
        </div>
      </a>
    </div>
    <div class="enjoy_con">
      <a href="#">
        <div class="enjoy_bg">
          <div class="enjoy_info" style="background: #534b5d;">
            <div class="enjoy1_title">
              <h4>奢侈大牌</h4>
              <p>尽享品质生活</p>
            </div>
          </div>
          <img src="__PUBLIC_HOME__/images/enjoy3.jpg" class="enter1_enjoy" />
        </div>
      </a>
    </div>
    <div class="enjoy_con">
      <a href="#">
        <div class="enjoy_bg">
          <div class="enjoy_info" style="background: #3b838c;">
            <div class="enjoy1_title">
              <h4>智能生活</h4>
              <p>智能潮货，嗨购不停</p>
            </div>
          </div>
          <img src="__PUBLIC_HOME__/images/enjoy4.jpg" class="enter1_enjoy" />
        </div>
      </a>
    </div>
    <div class="enjoy_con">
      <a href="#">
        <div class="enjoy_bg">
          <div class="enjoy_info" style="background:#d58717;">
            <div class="enjoy1_title">
              <h4>京东超市</h4>
              <p>精选超值好货 天天特价</p>
            </div>
          </div>
          <img src="__PUBLIC_HOME__/images/enjoy5.jpg" class="enter1_enjoy" />
        </div>
      </a>
    </div>
    <div class="enjoy_con">
      <a href="#">
        <div class="enjoy_bg">
          <div class="enjoy_info" style="background: #7e5944">
            <div class="enjoy1_title">
              <h4>白条商城</h4>
              <p>最高12期免息</p>
            </div>
          </div>
          <img src="__PUBLIC_HOME__/images/enjoy6.jpg" class="enter1_enjoy" />
        </div>
      </a>
    </div>
  </div>
  <div class="clear"></div>
  <!--达人专区-->
  <div class="enjoy_title">
    <h3>达人专区</h3>
  </div>
  <div class="mastor_con">
    <div class="mastor_part" style="background: url(__PUBLIC_HOME__/images/vip1.jpg); center center no-repeat">
      <div class="master_main">
        <div class="mastor_title">
          <h3>纯棉质品</h3>
          <span>把好货带回家</span>
        </div>
        <a href="#" class="master_btn" target="_blank" style="color:#7bd1f6;;">去见识</a>
        <div class="master_img">
          <a href="#" target="_blank">
            <img src="__PUBLIC_HOME__/images/vip_shop1.png">
          </a>
        </div>
      </div>
    </div>
    <div class="mastor_part" style="background: url(__PUBLIC_HOME__/images/vip2.jpg); center center no-repeat">
      <div class="master_main">
        <div class="mastor_title">
          <h3>团购热卖</h3>
          <span>都是好货</span>
        </div>
        <a href="#" class="master_btn" target="_blank" style="color:#f75674;">去见识</a>
        <div class="master_img">
          <a href="#" target="_blank">
            <img src="__PUBLIC_HOME__/images/vip_shop2.png">
          </a>
        </div>
      </div>
    </div>
    <div class="mastor_part" style="background: url(__PUBLIC_HOME__/images/vip3.jpg); center center no-repeat">
      <div class="master_main">
        <div class="mastor_title">
          <h3>团购热卖</h3>
          <span>每一款都是好货</span>
        </div>
        <a href="#" class="master_btn" target="_blank" style="color:#ff889e;">去见识</a>
        <div class="master_img">
          <a href="#" target="_blank">
            <img src="__PUBLIC_HOME__/images/vip_shop3.png">
          </a>
        </div>
      </div>
    </div>
    <div class="mastor_part" style="background: url(__PUBLIC_HOME__/images/vip4.jpg); center center no-repeat">
      <div class="master_main">
        <div class="mastor_title">
          <h3>舒适童鞋</h3>
          <span>帮宝宝走路</span>
        </div>
        <a href="#" class="master_btn" target="_blank" style="color:#cd51eb;">去见识</a>
        <div class="master_img">
          <a href="#" target="_blank">
            <img src="__PUBLIC_HOME__/images/vip_shop4.png">
          </a>
        </div>
      </div>
    </div>
    <div class="mastor_part" style="background: url(__PUBLIC_HOME__/images/vip5.jpg); center center no-repeat">
      <div class="master_main">
        <div class="mastor_title">
          <h3>舒适运动鞋</h3>
          <span>品牌直降</span>
        </div>
        <a href="#" class="master_btn" target="_blank" style="color:#43dd72;">去见识</a>
        <div class="master_img">
          <a href="#" target="_blank">
            <img src="__PUBLIC_HOME__/images/vip_shop5.png">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <!--店铺推荐-->
  <div class="enjoy_title">
    <h3>店铺推荐</h3>
  </div>
  <div class="good_shop_con">
    <div class="good_shop">
      <a href="#" target="_blank">
        <div class="shop_img">
          <img src="__PUBLIC_HOME__/images/good_shop1.png" />
        </div>
        <div class="shop_logo">
          <div class="s_logo">
            <img src="__PUBLIC_HOME__/images/shop_logo.png" />
          </div>
          <div class="s_title">
            <p>美宝莲</p>
            <p>纽约高街潮妆</p>
          </div>
        </div>
      </a>
    </div>
    <div class="good_shop">
      <a href="#" target="_blank">
        <div class="shop_img">
          <img src="__PUBLIC_HOME__/images/good_shop2.png" />
        </div>
        <div class="shop_logo">
          <div class="s_logo">
            <img src="__PUBLIC_HOME__/images/shop_logo1.png" />
          </div>
          <div class="s_title">
            <p>三只松鼠</p>
            <p>就是这个味</p>
          </div>
        </div>
      </a>
    </div>
    <div class="good_shop">
      <a href="#" target="_blank">
        <div class="shop_img">
          <img src="__PUBLIC_HOME__/images/good_shop3.png" />
        </div>
        <div class="shop_logo">
          <div class="s_logo">
            <img src="__PUBLIC_HOME__/images/shop_logo2.png" />
          </div>
          <div class="s_title">
            <p>绿联旗舰店</p>
            <p>给生活多点精彩</p>
          </div>
        </div>
      </a>
    </div>
    <div class="good_shop">
      <a href="#" target="_blank">
        <div class="shop_img">
          <img src="__PUBLIC_HOME__/images/good_shop4.png" />
        </div>
        <div class="shop_logo">
          <div class="s_logo">
            <img src="__PUBLIC_HOME__/images/shop_logo3.png" />
          </div>
          <div class="s_title">
            <p>韩都衣舍</p>
            <p>满249减50</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="clear"></div>
  <!--品牌推荐-->
  <div class="enjoy_title">
    <h3>品牌推荐</h3>
  </div>
  <div class="brand_con">
    <div class="brand_left">
      <a href="#" target="_blank">
        <img src="__PUBLIC_HOME__/images/brand.jpg" />
      </a>
    </div>
    <div class="brand_right" id="recommend_brands">
      <ul>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (1).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count0">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (2).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count1">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (3).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (4).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (5).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (6).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (7).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (8).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (9).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (10).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (11).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (12).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (13).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (14).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (15).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (16).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (17).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="brand_img">
            <a href="#" target="_blank">
              <img src="__PUBLIC_HOME__/images/icon1/brand (18).jpg" />
            </a>
          </div>
          <div class="brand_mash">
            <div class="coupon">
              <a href="#" target="_blank">
                关注人数<br>
                <div id="count2">0</div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
  <!--还没逛够-->
  <div class="enjoy_title">
    <h3>还没逛够</h3>
  </div>
  <div class="no_enough">
    <ul>
      <li class="opacity_img1">
        <a href="#" target="_blank">
          <div class="p_img">
            <img src="__PUBLIC_HOME__/images/no_enough1.jpg" />
          </div>
          <div class="no_ename" title="【情侣款】Camel骆驼男靴 时尚潮流英伦风马丁靴高帮皮靴 爆卖1万双！ 情侣马丁靴 好评如潮">
            【情侣款】Camel骆驼男靴 时尚潮流英伦风马丁靴高帮皮靴 爆卖1万双！ 情侣马丁靴 好评如潮
          </div>
          <div class="no_eprice">
            <em>¥</em>555.00
          </div>
        </a>
      </li>
      <li class="opacity_img1">
        <a href="#" target="_blank">
          <div class="p_img">
            <img src="__PUBLIC_HOME__/images/no_enough2.jpg" />
          </div>
          <div class="no_ename" title="春季马丁靴男真皮男靴黄靴工装军靴韩版短靴沙漠靴高帮男鞋大黄靴 头层牛皮">
            春季马丁靴男真皮男靴黄靴工装军靴韩版短靴沙漠靴高帮男鞋大黄靴 头层牛皮
          </div>
          <div class="no_eprice">
            <em>¥</em>555.00
          </div>
        </a>
      </li>
      <li class="opacity_img1">
        <a href="#" target="_blank">
          <div class="p_img">
            <img src="__PUBLIC_HOME__/images/no_enough3.jpg" />
          </div>
          <div class="no_ename" title="特步女鞋2017春季新款运动鞋休闲鞋女慢跑步鞋旅游鞋轻便舒适时尚 早春特惠 爆款休闲女鞋 赠运费险">
            特步女鞋2017春季新款运动鞋休闲鞋女慢跑步鞋旅游鞋轻便舒适时尚 早春特惠 爆款休闲女鞋 赠运费险
          </div>
          <div class="no_eprice">
            <em>¥</em>555.00
          </div>
        </a>
      </li>
      <li class="opacity_img1">
        <a href="#" target="_blank">
          <div class="p_img">
            <img src="__PUBLIC_HOME__/images/no_enough4.jpg" />
          </div>
          <div class="no_ename" title="新款韩版chic学生宽松短款外套上衣字母长袖连帽套头卫衣女潮">
            新款韩版chic学生宽松短款外套上衣字母长袖连帽套头卫衣女潮
          </div>
          <div class="no_eprice">
            <em>¥</em>555.00
          </div>
        </a>
      </li>
      <li class="opacity_img1">
        <a href="#" target="_blank">
          <div class="p_img">
            <img src="__PUBLIC_HOME__/images/no_enough5.jpg" />
          </div>
          <div class="no_ename" title="igtt铝框行李箱拉杆箱旅行箱万向轮男女20/24/26寸密码箱登机箱子 铝合金框 加强密码锁 万向轮 终身保修">
            igtt铝框行李箱拉杆箱旅行箱万向轮男女20/24/26寸密码箱登机箱子 铝合金框 加强密码锁 万向轮 终身保修
          </div>
          <div class="no_eprice">
            <em>¥</em>555.00
          </div>
        </a>
      </li>
      <li class="opacity_img1">
        <a href="#" target="_blank">
          <div class="p_img">
            <img src="__PUBLIC_HOME__/images/no_enough6.jpg" />
          </div>
          <div class="no_ename" title="波米铝框拉杆箱万向轮密码旅行箱子20/24寸行李箱女登机箱男26/28 顺丰速运赠运费险赠十礼品终身质保">
            波米铝框拉杆箱万向轮密码旅行箱子20/24寸行李箱女登机箱男26/28 顺丰速运赠运费险赠十礼品终身质保
          </div>
          <div class="no_eprice">
            <em>¥</em>555.00
          </div>
        </a>
      </li>
      <li class="opacity_img1">
        <a href="#" target="_blank">
          <div class="p_img">
            <img src="__PUBLIC_HOME__/images/no_enough7.jpg" />
          </div>
          <div class="no_ename" title="2016秋冬季新款尖头粗跟短靴女高跟真皮加绒中跟马丁靴女靴子女鞋 优质全头层牛皮，品质女鞋">
            2016秋冬季新款尖头粗跟短靴女高跟真皮加绒中跟马丁靴女靴子女鞋 优质全头层牛皮，品质女鞋
          </div>
          <div class="no_eprice">
            <em>¥</em>555.00
          </div>
        </a>
      </li>
      <li class="opacity_img1">
        <a href="#" target="_blank">
          <div class="p_img">
            <img src="__PUBLIC_HOME__/images/no_enough8.jpg" />
          </div>
          <div class="no_ename" title="创意真皮床双人床现代婚床1.8米1.5榻榻米床储物床皮艺床软床大床 床侧储物 升降靠背 双ll价格 更低">
            创意真皮床双人床现代婚床1.8米1.5榻榻米床储物床皮艺床软床大床 床侧储物 升降靠背 双ll价格 更低
          </div>
          <div class="no_eprice">
            <em>¥</em>555.00
          </div>
        </a>
      </li>
      <li class="opacity_img1">
        <a href="#" target="_blank">
          <div class="p_img">
            <img src="__PUBLIC_HOME__/images/no_enough9.jpg" />
          </div>
          <div class="no_ename" title="韩都衣舍2017韩版女装新款黑白拼接插肩棒球服春季短外套HH5597妠 朴信惠同款 黑白拼接 插肩袖 棒球服">
            韩都衣舍2017韩版女装新款黑白拼接插肩棒球服春季短外套HH5597妠 朴信惠同款 黑白拼接 插肩袖 棒球服
          </div>
          <div class="no_eprice">
            <em>¥</em>555.00
          </div>
        </a>
      </li>
      <li class="opacity_img1">
        <a href="#" target="_blank">
          <div class="p_img">
            <img src="__PUBLIC_HOME__/images/no_enough10.jpg" />
          </div>
          <div class="no_ename" title="秋季新款男士套头卫衣印花外套韩版简约百搭潮流男生上衣服">
            秋季新款男士套头卫衣印花外套韩版简约百搭潮流男生上衣服
          </div>
          <div class="no_eprice">
            <em>¥</em>555.00
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
