<!--优质新品-->
<div class="need-channel clearfix" id="h-need">
  <div class="channel-column" style="background:url('__PUBLIC_HOME__/images/channel_bg1.jpg') no-repeat;">
    <div class="column-title">
      <h3>优质新品</h3>
      <p>专注生活美学</p>
    </div>
    <div class="column-img"><img src="__PUBLIC_HOME__/images/channel.png"></div>
    <a href="#" target="_blank" class="column-btn">去看看</a>
  </div>
  <div class="channel-column" style="background:url('__PUBLIC_HOME__/images/channel_bg2.jpg')  no-repeat;">
    <div class="column-title">
      <h3>品牌精选</h3>
      <p>潮牌尖货 初春换新</p>
    </div>
    <div class="column-img"><img src="__PUBLIC_HOME__/images/channel.png"></div>
    <a href="#" target="_blank" class="column-btn">去看看</a>
  </div>
  <div class="channel-column" style="background:url('__PUBLIC_HOME__/images/channel_bg3.jpg') no-repeat;">
    <div class="column-title">
      <h3>潮流女装</h3>
      <p>春装流行款抢购</p>
    </div>
    <div class="column-img"><img src="__PUBLIC_HOME__/images/channel.png"></div>
    <a href="#" target="_blank" class="column-btn">去看看</a>
  </div>
  <div class="channel-column" style="background:url('__PUBLIC_HOME__/images/channel_bg4.jpg') no-repeat;">
    <div class="column-title">
      <h3>人气美鞋</h3>
      <p>新外貌“鞋”会</p>
    </div>
    <div class="column-img"><img src="__PUBLIC_HOME__/images/channel.png"></div>
    <a href="#" target="_blank" class="column-btn">去看看</a>
  </div>
  <div class="channel-column" style="background:url('__PUBLIC_HOME__/images/channel_bg5.jpg') no-repeat;">
    <div class="column-title">
      <h3>护肤彩妆</h3>
      <p>春妆必买清单 低至3折</p>
    </div>
    <div class="column-img"><img src="__PUBLIC_HOME__/images/channel.png"></div>
    <a href="#" target="_blank" class="column-btn">去看看</a>
  </div>
</div>
