<!--今日秒杀-->
<div class="seckill-channel" id="h-seckill">
  <div class="box-hd clearfix">
    <i class="box_hd_arrow"></i>
    <i class="box_hd_dec"><img src="__PUBLIC_HOME__/images/box_hd_arrow.png"/></i>
    <i class="box-hd-icon"></i>
    <div class="sk-time-cd">
      <div class="sk-cd-tit">距结束</div>
      <div class="cd-time fl" ectype="time" data-time="2017-12-18 10:00:00">
        <div class="days hide">00</div>
        <span class="split hide">天</span>
        <div class="hours">00</div>
        <span class="split">时</span>
        <div class="minutes">00</div>
        <span class="split">分</span>
        <div class="seconds">00</div>
        <span class="split">秒</span>
      </div>
    </div>
    <div class="sk-more">
      <a href="seckill.php" target="_blank">更多秒杀</a> <i class="arrow"></i></div>
  </div>
  <div class="box-bd clearfix slideTxtBox">
    <div class="tempWrap hd">
      <ul>
        <li class="opacity_img clone">
          <div class="p-img">
            <a href="#" target="_blank"><img src="__PUBLIC_HOME__/images/miaosha0.jpg"></a>
          </div>
          <div class="p-name">
            <a href="#" target="_blank" title="HLA/海澜之家撞色长袖T恤春季热卖圆领修身拼接T恤男 简约圆领 微弹修身 撞色拼接 触感柔软">HLA/海澜之家撞色长袖T恤春季热卖圆领修身拼接T恤男 简约圆领 微弹修身 撞色拼接 触感柔软</a>
          </div>
          <div class="p-over">
            <div class="p-info">
              <div class="p-price">
                <span class="shop-price"><em>¥</em>356.00</span>
                <span class="original-price"><em>¥</em>117.60</span>
              </div>
            </div>
            <div class="p-btn">
              <a href="#" target="_blank">立即抢购</a>
            </div>
          </div>
        </li>
        <li class="opacity_img">
          <div class="p-img">
            <a href="#" target="_blank"><img src="__PUBLIC_HOME__/images/miaosha0.jpg"></a>
          </div>
          <div class="p-name">
            <a href="#" target="_blank" title="特大号加厚塑料收纳箱整理箱有盖收纳盒衣服被子置物周转储物箱子">特大号加厚塑料收纳箱整理箱有盖收纳盒衣服被子置物周转储物箱子</a>
          </div>
          <div class="p-over">
            <div class="p-info">
              <div class="p-price">
                <span class="shop-price"><em>¥</em>1423.00</span>
                <span class="original-price"><em>¥</em>240.00</span>
              </div>
            </div>
            <div class="p-btn">
              <a href="#" target="_blank">立即抢购</a>
            </div>
          </div>
        </li>
        <li class="opacity_img">
          <div class="p-img">
            <a href="#" target="_blank"><img src="__PUBLIC_HOME__/images/miaosha0.jpg"></a>
          </div>
          <div class="p-name">
            <a href="#" target="_blank" title="74超薄非球面镜片高度近视眼镜片近视镜片防蓝光配眼镜镜片加工 套餐价低至359元 6款镜架任您选">74超薄非球面镜片高度近视眼镜片近视镜片防蓝光配眼镜镜片加工 套餐价低至359元 6款镜架任您选</a>
          </div>
          <div class="p-over">
            <div class="p-info">
              <div class="p-price">
                <span class="shop-price"><em>¥</em>356.00</span>
                <span class="original-price"><em>¥</em>478.79</span>
              </div>
            </div>
            <div class="p-btn">
              <a href="#" target="_blank">立即抢购</a>
            </div>
          </div>
        </li>
        <li class="opacity_img">
          <div class="p-img">
            <a href="#" target="_blank"><img src="__PUBLIC_HOME__/images/miaosha0.jpg"></a>
          </div>
          <div class="p-name">
            <a href="#" target="_blank" title="南极人法兰绒毛毯加厚秋单人双人珊瑚绒毯子双层冬季被子盖毯 加厚保暖 不掉毛 柔软面料 亲肤透气">南极人法兰绒毛毯加厚秋单人双人珊瑚绒毯子双层冬季被子盖毯 加厚保暖 不掉毛 柔软面料 亲肤透气</a>
          </div>
          <div class="p-over">
            <div class="p-info">
              <div class="p-price">
                <span class="shop-price"><em>¥</em>1641.00</span>
                <span class="original-price"><em>¥</em>180.00</span>
              </div>
            </div>
            <div class="p-btn">
              <a href="#" target="_blank">立即抢购</a>
            </div>
          </div>
        </li>
        <li class="opacity_img">
          <div class="p-img">
            <a href="#" target="_blank"><img src="__PUBLIC_HOME__/images/miaosha0.jpg"></a>
          </div>
          <div class="p-name">
            <a href="#" target="_blank" title="李军塑料防滑衣架衣挂撑子裤架衣服架成人晾衣架晒衣架子儿童衣架 成人衣架普通 款38cm 50个只要 21元">李军塑料防滑衣架衣挂撑子裤架衣服架成人晾衣架晒衣架子儿童衣架 成人衣架普通 款38cm 50个只要 21元</a>
          </div>
          <div class="p-over">
            <div class="p-info">
              <div class="p-price">
                <span class="shop-price"><em>¥</em>2423.00</span>
                <span class="original-price"><em>¥</em>25.20</span>
              </div>
            </div>
            <div class="p-btn">
              <a href="#" target="_blank">立即抢购</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
