<!--购物新闻推荐-->
<div class="shop_new">
  <div class="sy_c">
    <div class="sy_gg">
      <div class="shop_new_logo">
        <img src="__PUBLIC_HOME__/images/new1.png" />
        <img src="__PUBLIC_HOME__/images/new3.png" />
      </div>
      <div class="ranklist">
        <ul>
          <li>
            <a href="#">小米：58秒售罄！魅族：抱歉，我30秒</a>
            <a href="#"><span>点我查看详情</span></a>
          </li>
          <li>
            <a href="#">穿这样的裙子会显高，你穿过几种？</a>
            <a href="#"><span>点我查看详情</span></a>
          </li>
          <li>
            <a href="#">蓄电池专场下单立减100元</a>
            <a href="#"><span>点我查看详情</span></a>
          </li>
          <li>
            <a href="#">五星双人自助低至299元</a>
            <a href="#"><span>点我查看详情</span></a>
          </li>
          <li>
            <a href="#">天府大件运营中心开仓公告</a>
            <a href="#"><span>点我查看详情</span></a>
          </li>
        </ul>
      </div>
      <div class="new_more">
        <a href="#"><img src="__PUBLIC_HOME__/images/new_more.png" /></a>
      </div>
    </div>
  </div>
</div>
