<!--轮播图-->
<div class="slide" id="lun2" style="">
  <div class="carouse" style="min-width: 1200px;position:relative;margin-top: 0px;">
    <div class="slideItem">
      <a href="#" target="_blank"><img class="banner-img" src="__PUBLIC_HOME__/images/banner4.jpg" style="height: 500px;"></a>
    </div>
    <div class="slideItem">
      <a href="#" target="_blank"><img class="banner-img" src="__PUBLIC_HOME__/images/banner5.jpg" style="height: 500px;"></a>
    </div>
    <div class="slideItem">
      <a href="#" target="_blank"><img class="banner-img" src="__PUBLIC_HOME__/images/banner6.jpg" style="height: 500px;"></a>
    </div>
    <!--<a class="carousel-control left Next"></a>
    <a class="carousel-control right Previous"></a>-->
  </div>
  <!-- 轮播底部圆点 -->
  <div class="dotList"></div>
</div>
