<extend name="Public/base"/>
<block name="title">用户管理</block>
<block name="location">用户列表</block>
<block name="content">
  <div class="row">
    <div class="col-sm-4">
      <a href="{:U('add')}" class="btn btn-sm btn-warning">用户添加</a>
    </div>
    <!--<div class="col-sm-8">
      <form action="{:U('index')}" method="get">
        <label for="category_id" class="col-xs-12 col-sm-2 control-label no-padding-right">
          <span class="block input-icon input-icon-right">
          <select class="chosen-select form-control" id="category_id" name="category_id" style="cursor: pointer">
            <option value="" selected>|&#45;&#45;请选择&#45;&#45;</option>
            <volist name="cate" id="item">
              <option value="{$item.id}" <eq name="Think.get.category_id" value="$item.id">selected</eq>>
                |{$item.level|str_repeat="&#45;&#45;&#45;&#45;",###}
                {$item.cname}
              </option>
            </volist>
          </select>
        </span>
        </label>
        <label for="intro_type" class="col-xs-12 col-sm-2 control-label no-padding-right">
          <span class="block input-icon input-icon-right">
          <select class="chosen-select form-control" id="intro_type" name="intro_type" style="cursor: pointer">
            <option value="0">全部</option>
            <option value="is_rec" <eq name="Think.get.intro_type" value="is_rec">selected</eq>>推荐</option>
            <option value="is_new" <eq name="Think.get.intro_type" value="is_new">selected</eq>>新品</option>
            <option value="is_hot" <eq name="Think.get.intro_type" value="is_hot">selected</eq>>热销</option>
          </select>
        </span>
        </label>
        <label for="is_sale" class="col-xs-12 col-sm-2 control-label no-padding-right">
          <span class="block input-icon input-icon-right">
          <select class="chosen-select form-control" id="is_sale" name="is_sale" style="cursor: pointer">
            <option value="0">全部</option>
            <option value="1" <eq name="Think.get.is_sale" value="1">selected</eq>>上架</option>
            <option value="2" <eq name="Think.get.is_sale" value="2">selected</eq>>下架</option>
          </select>
        </span>
        </label>
        <label for="keyword" class="col-xs-12 col-sm-4 control-label no-padding-right">
          <span class="block input-icon input-icon-right">
            <input type="text" id="keyword" class="width-100" name="keyword" placeholder="请输入关键字" value="{$Think.get.keyword}">
            <i class="ace-icon fa fa-leaf"></i>
          </span>
        </label>
        <div class="help-block col-xs-12 col-sm-reset inline" style="margin-top: 0;margin-left: 10px">
          <button class="btn btn-sm btn-info" type="submit">搜索</button>
        </div>
      </form>
    </div>-->
  </div>
  <table id="simple-table" class="table  table-bordered table-hover">
    <thead>
    <tr>
      <th class="center">
        <label class="pos-rel">
          <input type="checkbox" class="ace">
          <span class="lbl"></span>
        </label>
      </th>
      <th class="detail-col">#</th>
      <th>用户称</th>
      <th>角色名</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <volist name="data" id="item" key="k">
      <tr>
        <td class="center">
          <label class="pos-rel">
            <input type="checkbox" class="ace">
            <span class="lbl"></span>
          </label>
        </td>
        <td class="center">{$k}</td>
        <td>{$item.username}</td>
        <td>{$item.role_name}</td>
        <td>
          <gt name="item.id" value="1">
            <div class="hidden-sm hidden-xs btn-group">
              <a class="btn btn-xs btn-info" href="{:U('edit','id='.$item['id'])}" title="用户编辑">
                <i class="ace-icon fa fa-pencil bigger-120"></i>
              </a>
              <!--<button class="btn btn-xs btn-warning">
                <i class="ace-icon fa fa-flag bigger-120"></i>
              </button>-->
              <button class="btn btn-xs btn-danger" onclick="deleteItem('{$item.id}')" title="用户删除">
                <i class="ace-icon fa fa-trash-o bigger-120"></i>
              </button>
            </div>
          </gt>
        </td>
      </tr>
    </volist>
    </tbody>
  </table>
  <div class="row">
    <div class="col-xs-12">
      <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
        {$page}
      </div>
    </div>
  </div>
</block>
<block name="js">
  <script>
    function deleteItem(id) {
      if (window.confirm('确定要删除吗？')) {
        location.href = "/user/del/id/"+id;
      }
    }
  </script>
</block>
